<!-- Landing Header -->
<div class="container">
	<h1>About | Jason's Blog</h1>
	<p>Follow me on my journey into the Rails wilderness as I discover new and fastastic treasures and unexpected creatures.</p>
	
</div><!-- /container-fluid -->
