<!-- Landing Header -->
<div class="container-fluid">
	<h1>Contact | Jason's Blog</h1>
	<p>Contact us at this number: +44 123 456 789</p>
	<p>Email us at : js@example.com</p>
</div><!-- /container-fluid -->