<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will be in contact shortly.</p>
    <p><%= link_to "Click here to go back to the HOME PAGE.", root_path %></p>
  </div><!-- / panel-body -->
</div><!-- / panel -->