<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Demystifying Email Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
</html>

<body style="margin: 0; padding: 0;">
 <table border="1" cellpadding="50" cellspacing="0" width="100%">
  <tr>
   <td>
    <table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">

      <!-- Header -->
      <tr>
        <td align="center" bgcolor="#70bbd9" style="padding: 10px 0 20px 0;">
          <p>You have received a new contact form message. </p>
        </td>
      </tr><!-- /Header -->

      <!-- Body -->
      <tr>
        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
          <table border="1" cellpadding="0" cellspacing="0" width="100%">
            
            <!-- Title -->
            <h2>The contents of the message are:</h2>
            <!-- Content -->
            <p><%= @message %></p>
            
          </table>
        </td>
      </tr><!-- /Body -->

      <!-- Footer -->
      <tr>
        <td bgcolor="#ee4c50" style="padding: 10px;">
          <table border="1" cellpadding="0" cellspacing="0" width="100%">
           <tr>
            <!-- Copyright -->
            <td width="75%" style="padding: 10px;">
             <p>&reg; Bike Basingstoke Demo 2016<br/>
             Unsubscribe to this newsletter instantly</p>
            </td>
            <!-- Social Media Icons -->
            <td>
              <td align="right">
               <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                </tr>
               </table>
              </td>
            </td>

           </tr>
          </table>
        </td>
      </tr> <!-- /Footer -->


    </table>
   </td>
  </tr>
 </table>
</body>