<div class="container-fluid">
	<h1>Editing Article</h1>

	<%= render 'form' %>
	<hr>
	<div class="center">
		<%= link_to 'Show', @article, class: "btn btn-success" %> |
		<%= link_to 'Back', articles_path, class: "btn btn-info" %>
	</div>
</div>