<footer class="footer">
  <small>
    &copy; 2015 Jason's Blog Rails Demo
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", static_pages_about_path %></li>
      <li><%= link_to "Contact", static_pages_contact_path %></li>
      <li><%= link_to 'Show Articles', articles_path %></li>     
    </ul>
  </nav>
</footer>