<li>
  <%= form_tag("/articles", method: "get", class: "navbar-form navbar-right", role: "search" ) do %>
    <div class="form-group">
      <%= label_tag(:q, "Search for:", id: "label-search", class: "form-search") %>
      <%= text_field_tag :q, nil, class: "form-control form-search", placeholder: "Item" %>
    </div>
    <%= submit_tag("Go", class: "btn btn-primary form-search", id: "btn-search") %>            
  <% end %>
</li>